*.py[co]
*~
*.egg-info/
build/
dist/

GTAGS
GRTAGS
GPATH
GSYMS
*.log
.venv/
.tox/
.coverage
covhtml/
coverage.xml
nosetests.xml

bin/
debian/
doc/
etc/

.pylintrc
.readtheodocs.yml
.renovaterc.json
.stickler.yml
MAINFEST.in
pip-requirements.txt
run_tests.sh
setup.cfg
setup.py
tox.ini